<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team.sear.kcpt"
    android:versionCode="16"
    android:versionName="2.6.1"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".moreactivities.WeatherActivity"></activity>
        <activity android:name=".moreactivities.TimetableActivity" />
        <activity android:name=".timetablefragments.TimeTableActivity" />
        <activity android:name=".RegistrationNew" />
        <activity android:name=".PrivacyPolytics" />
        <activity
            android:name=".timetablefragments.SelectTimeTableForApp"
            android:screenOrientation="portrait" />

        <service android:name=".objects.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".oldclasses.Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OneMinuteGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".oldclasses.Navigate"
            android:label="КЦПТ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>